.appveyor.yml
.git/**/*
.github/**/*
.gitignore
.prettierrc
.travis.yml
.vscode/**/*
*.vsix
**/*.map
appveyor.yml
out/repo_scripts/**/*
out/test/**/*
out/tests/**/*
package-lock.json
resources/src/**/*
src/**/*
tsconfig.base.json
tsconfig.json
tslint.json
